# Development
PORT=5000
DB_URL=mongodb://localhost:27017/your_db_name
NODE_ENV=development

# JWT
JWT_ACCESS_SECRET=jwt_access_secret
JWT_ACCESS_EXPIRES=jwt_access_expires
JWT_REFRESH_SECRET=jwt_refresh_secret
JWT_REFRESH_EXPIRES=30d

# Bcrypt
BCRYPT_SALT_ROUND=bcrypt_salt_round

# Super Admin
SUPER_ADMIN_EMAIL=user@example.com
SUPER_ADMIN_PASSWORD=12345678